<link rel="stylesheet" href="~/css/bootstrap.css">
<script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
@if (Request.IsAuthenticated)
{
    <text>
        Hi, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Control" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>            
        }
    </text>   
}
else
{
    <ul>
        <li>@Html.ActionLink("Registration", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Confirmation", "Confirmation", "Account", routeValues: null, htmlAttributes: new { id = "confirmLink" })</li>
    </ul>
}
