@model SN.Models.LocalPasswordModel
<h3>Password changing</h3>
<link rel="stylesheet" href="~/css/bootstrap.css">
<script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <head>
        <title>Password Changing</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Password changing</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Смена пароля" />
    </fieldset>
}
